{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<div class="container">
		<div class="product-single-container">
			<h3>
				{{ product.name }}
			</h3>
			<p class="tag-block">
				<span class="tag">{{ product.category.name }}</span>
				<span class="tag">{{ product.brand.name }}</span>
			</p>
			<div class="product-infos">
				<img src="{{ product.image }}" alt="{{ product.name }}" width="300px">
				<p>
					{{ product.description|raw }}
				</p>
			</div>
			<span class="product-price">
				{{ product.price }}
				€
			</span>
			<div class="product-status">
				{% if product.status == 2 %}
					<span class="product-status-available">
						<div class="circle green"></div>Disponible</span>
				{% elseif product.status == 1 %}
					<span class="product-status-unavailable">
						<div class="circle orange"></div>Indisponible</span>
				{% endif %}
				<span class="product-quantity">
					En stock
					{{ product.quantity }}
				</span>
			</div>
			<h4>
				<span style="font-weight:lighter;">Vendu par</span>
				{{ product.seller.firstname }}
				{{ product.seller.lastname }}</h4>
			{{ include('content/_form.html.twig', {'button_label': 'Acheter'}) }}
			<div class="actions">
				<a href="{{ path('app_products') }}">Retour aux produits</a>
				<a href="{{ path('app_product_add', {'id': product.id}) }}" class="action-cart">Ajouter au panier</a>
			</div>
		</div>
	</div>
{% endblock %}
