{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="profile-container container">
		<div class="user-infos">
			<div class="infos">
				<p>
					<span class="user-label">Nom
					</span>
					{{ app.user.lastname }}</p>
				<p>
					<span class="user-label">Prénom
					</span>
					{{ app.user.firstname }}</p>
				<p>
					<span class="user-label">Email
					</span>
					{{ app.user.email }}</p>
				<p>
					<span class="user-label">Pays
					</span>
					{{ app.user.country }}</p>
				<p>
					<span class="user-label">Adresse
					</span>
					{{ app.user.address }}</p>
				<p>
					<span class="user-label">Code Postal
					</span>
					{{ app.user.postalCode }}</p>
				<p>
					<span class="user-label">Numéro de téléphone
					</span>
					{{ app.user.phoneNumber }}</p>
			</div>
			<div class="user-actions">
				<a href="{{ path('app_user_update', {'id': app.user.id}) }}">Modifier mes informations</a>
				<a href="">Modifier mon mot de passe</a>
			</div>
		</div>
		<div class="user-products">
			{% for product in products %}
				{% include "content/product/includes/card.html.twig" %}
			{% endfor %}
			{{ knp_pagination_render(products) }}
		</div>
	</div>
{% endblock %}
